:root {
  /* Brand Colors */
  --dark-green: #00382B;
  --medium-green: #327D4A;
  --light-green: #8BBC50;
  --red: #BF2121;
  --yellow: #D9B504; 
  --arena: #F8D4AA;
  --soft-white: #FEFAF3;
  --soft-black: #262223;
  --dark: #0D0D0D;
  /* Font Sizes */
  --hero-title: 3.2rem;
  --xtitle: 2.6rem;
  --title: 2rem;
  --subtitle: 1.8rem;
  --p:1.6rem;
  --small:1.4rem;
  --xs: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

/* Main */
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}
.hero {
  margin: 24px 0;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 3fr;
  grid-auto-rows: 550px;
}
.hero__info {
  align-self: center;
  padding: 16px;
}
.hero__title{
  margin-bottom: 24px;
  font-size: var(--hero-title);
  font-weight: bold;
  color: var(--medium-green);
}
.hero__description {
  margin-bottom: 32px;
  font-size: var(--small);
  line-height: 1.8rem;
  font-weight: 500;
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.book-btn {
  padding: 12px 24px;
  margin-top: 30px;
  font-weight: bold;
  border: none;
  color: var(-);
  background-color: var(--light-green);
  border-radius: 20px;
  cursor: pointer;
}

/* Dishes section */
.dishes-section {
  margin: 50px 0;
}
.dishes-title {
  font-size: var(--title);
  text-align: center;
  font-weight: bold;
  margin-bottom: 36px;
  color: var(--medium-green);
}
.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  grid-auto-rows: 1fr;
  gap: 20px;
  justify-content: center;
}
.dishes__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dishes__item--big {
  grid-area: 1 / 1 / 3 / 3;
}

/* Menu */
.menu {
  margin-bottom: 50px;
}
.menu-title {
  margin-bottom: 36px;
  font-size: var(--title);
  font-weight: bold;
  text-align: center;
  color: var(--medium-green);
}
.menu-grid {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  gap: 16px;
}
.menu-grid__item {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.menu-grid__item img {
  width: 100%;
  height: 100%;
  margin: 2px 0 0 2px;
  object-fit: contain;
  cursor: pointer;
}
.menu-grid__item:hover {
  box-shadow: 1px 2px 10px var(--light-green);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: minmax(300px, 500px) 1fr;
    justify-content: center;
  }
  .hero-image {
    display: none;
  }
  .dishes-grid {
    grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
  }
}